.focus{
    border: 5px solid green;
}

.blur {
    border: 5px solid red;
}

.change {
    border: 5px solid black;
}

.error{
    border: 2px solid tomato;
}

label{
    display: inline-block;
    width: 200px;
}

input{
    padding: .4rem;
    width: 300px;
}

#output{
    background-color: rgba(0, 0, 0, 0.615);
    color: white;
    width: 500px;
    min-height: 200px;
    border-radius: .5rem;
    box-shadow: -2px -2px 20px blue, 10px 10px 20px yellow;
    padding: 1rem;
    box-sizing: border-box;
    word-break: break-all;
}