*{
    box-sizing: border-box;
}

/* custom properties */
/*
Всі кастом пропертіс в сss починаються з  двох тире. Значення, які записуються, називаються змінними. Змінним надаються певні значення, які в подальшому модна використовувати та при зміні значення параметру, його не потрібно буде замінювати по всій сторінці, а лише замінити значення в змінній рут.

*/
:root{
    --main-color: rgb(238, 9, 9);
    --title-font-size: 20px;
}

h1{
    color: var(--main-color);
    font-size: var(--title-font-size);
}

h2{
    color: var(--main-color);
    font-size: var(--title-font-size);
}

/* Для того, щоб ЛОКАЛЬНО змінити значення змінної для певного випадку, можна зробити це всередині селектору (дані з локальної зміни не зберігаються для використавння в наступних інших) */
h3{
    --main-color: green;
    color: var(--main-color);
}

h4{
    color: var(--main-color);
}

/* Можна зручно змінювати значення змінних в рут за допомогою медіа квері */
@media(max-width:1400px){
    :root{
        --main-color: rgb(165, 238, 9);
        --title-font-size: 40px;
    }
}